<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>

  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude, disabled: true %>
  </div>

  <div style='width: 800px;'>
   <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      latlng = new google.maps.LatLng(35.3759697,139.9169651);
      handler.fitMapToBounds();
      handler.getMap().setCenter(latlng);
      handler.getMap().setZoom(13);
      var marker = null;

      google.maps.event.addListener(handler.getMap(), 'click', function(event) {
        if(marker != null) {
          marker.setMap(null);
        }
        marker = new google.maps.Marker({
          position: event.latLng,
          map: handler.getMap()
        });
        $('#post_latitude').val(event.latLng.lat());
        $('#post_longitude').val(event.latLng.lng());
      });
    });
</script>
