<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :latitude, "撮影場所" %> <br>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>  
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      latlng = new google.maps.LatLng(35.3759697,139.9169651);
      handler.fitMapToBounds();
      handler.getMap().setCenter(latlng);
      handler.getMap().setZoom(13);
      var marker = null;

      google.maps.event.addListener(handler.getMap(), 'click', function(event) {
        if(marker != null) {
          marker.setMap(null);
        }
        marker = new google.maps.Marker({
          position: event.latLng,
          map: handler.getMap()
        });
        $('#post_latitude').val(event.latLng.lat());
        $('#post_longitude').val(event.latLng.lng());
      });
    });
</script>

<script type="text/javascript">
  $('#post_photo').change(function() {
    var file = this.files[0];  // file
    fr   = new FileReader; // to read file contents

    fr.onloadend = function() {
      // get EXIF data
      image = new Image();
      image.src = fr.result
      EXIF.getData(image, function() {
                            var lat = EXIF.getTag(this, "Orientation");
      alert(lat);
                        });    };
                  var toDecimal = function (number) {
       return number[0].numerator + number[1].numerator /
           (60 * number[1].denominator) + number[2].numerator / (3600 * number[2].denominator);
   };


    fr.readAsDataURL(file); // read the file
  });
</script>